agm-map {
  height: 400px;
}
.agm-container{
  width: 60%;
  margin: auto;
  padding:2rem;
}
h3{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  float: right;
}
.mat-list-item{
  color:green;
  background-color: #eeeeee;
  margin: 1rem;
  margin-left:0;
  border: none;
  border-radius: 10px;
}
.display-flex{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
